<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9785897e-4329-4365-ba3a-72ff5d280771/resourcegroups/OuroVerdeApi/providers/Microsoft.ContainerRegistry/registries/OuroVerdeAPIMaintenance20180606014821</ResourceId>
    <ResourceName>OuroVerdeAPIMaintenance20180606014821</ResourceName>
    <ResourceGroup>OuroVerdeApi</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>https://ouroverdeapimaintenance20180606014821.azurecr.io/</RegistryUrl>
    <UserName>OuroVerdeAPIMaintenance20180606014821</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>561aac4a-77c8-4a0c-88cc-306a8f0a76f1</ProjectGuid>
  </PropertyGroup>
</Project>